{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% if tema_activado == 'tema_a' %}
        <link rel="stylesheet" href="{% static 'styles/aqua.css' %}">
    {% elif tema_activado == 'tema_o' %}
        <link rel="stylesheet" href="{% static 'styles/oscuro.css' %}">
    {% endif %}

</head>
<body>
    <header>
        </div>
            <div class="topnav">
            <img src="{% static '/logo.png' %}" alt="Logo de TurnGreen"
            width= '200'
            lenght= '60' />
            <a href="#Leafpoints">0 Leafpoints</a>
        </div>

        <h1 style="text-align: center;">Tienda</h1>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)"
    class="closebtn"
    onclick="closeNav()">&times;</a>
        <p style="color:white;"id="rcorners1">OPCIONES</p>
        <a href="{% url 'index' %}">Inicio←</a>
        <a href="{% url 'micuenta' %}">Mi huella←</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; OPCIONES</span>

    <script>
    function openNav() {
        document.getElementById("mySidenav").style.display = "block";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.display = "none";
    }
    </script>

    <section id="agua">
        <div class="container">
            <h3>🐬ESTILO ACUÁTICO🐬</h3>
            <img src="{% static '/agua.png' %}" alt="Estilo acuático"
            width= '600'
            lenght= '1800' />
        <button id="compraragua">COMPRAR</button>
        </div>
        <div class="container">
            <h3>🌃ESTILO OSCURO🌃</h3>
            <img src="{% static '/oscuro.png' %}" alt="Estilo oscuro"
            width= '600'
            lenght= '1800' />
            <p>GRATIS!</p>
            {% if tema_activado == 'tema_a' %}
                <p style="font-size: 30px;">El tema AGUA está activado.</p>
                <a href="{% url 'quitar_tema' %}">
                    <button>Quitar el tema</button>
                </a>
            {% elif tema_activado == 'tema_o' %}
                <p style="font-size: 30px;">El Tema OSCURO está activado.</p>
                <a href="{% url 'quitar_tema' %}">
                    <button>Quitar el tema</button>
                </a>
            {% else %}
                <p style="font-size: 20px;">Ningún tema está activado.</p>
                <a href="{% url 'activar_tema_a' %}">
                    <button>Activar Tema AGUA</button>
                </a>
                <a href="{% url 'activar_tema_o' %}">
                    <button>Activar Tema OSCURO</button>
                </a>
            {% endif %}
        </div>
    </section>
    <main>
        <h2>Productos Disponibles</h2>
        <div class="product-list">
            {% for product in products %}
            <div class="product-item">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>Precio: ${{ product.price }}</p>
                <button type="button" onclick="addToCart('{{ product.id }}')">Agregar al Carrito</button>
            </div>
            {% endfor %}
        </div>
    </main>
    <div> 
        <button>Comprar</button>
    </div>
    <footer>
        <p>&copy; 2024 Tu Tienda</p>
    </footer>
    <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
